<section id="about" class="about">
    <div class="container">

      <div class="row no-gutters">
        <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
          <div class="content">
            <h3>Phương pháp đơn giản để tổ chức giải đấu bóng đá</h3>
            <p>
              Football League làm đơn giản hóa quá trình quản lý giải đấu và giúp tiết kiệm thời gian.
              Hãy sử dụng để cảm nhận hiệu quả của công cụ này mang đến cho bạn.
            </p>
            <a href="#" class="about-btn">Về chúng tôi <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-xl-7 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Lập báo cáo</h4>
                <p>Báo cáo về giải đấu gồm xếp hạng đội bóng của giải và các cầu thủ ghi bàn nhiều nhất giải.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Hệ thức thi đấu</h4>
                <p>Cách thức thi đấu rõ ràng, công bằng.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-images"></i>
                <h4>Hình ảnh giải đấu</h4>
                <p>Các hình ảnh giải đấu đã được tổ chức thành công.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-shield"></i>
                <h4>Bảo mật thông tin</h4>
                <p>Thông tin cầu thủ được bảo vệ tuyệt đối.</p>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>

    </div>
  </section>