<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>Football League</h3>
              <p class="pb-3"><em>Hãy liên hệ với chúng tôi</em></p>
              <p>
                Nguyễn Kiệm, Gò Vấp <br>
                Tp HCM, VN<br><br>
                <strong>Phone:</strong> +84 9340 86629<br>
                <strong>Email:</strong> ngothanhlongnoyssiw@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
            <h4>Liên kết nhanh</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('index') }}">Trang chủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('tournament') }}">Tìm giải đấu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('team') }}">Tìm đội bóng</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('player') }}">Tìm cầu thủ</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('contact') }}">Liên hệ</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="250">
            <h4>Tiện ích</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('login_users') }}">Đăng nhập</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hướng Dẫn</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter" data-aos="fade-up" data-aos-delay="350">
            <h4>Góp ý</h4>
            <p>Ý kiến của bạn giúp chúng tôi hoàn thiện hơn</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Foolball League</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/ -->
        Thiết kết bởi <a href="#">Ryu</a>
      </div>
    </div>
  </footer>