<header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{{ url_for('index') }}"><span>Football League</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('index') }}">Trang chủ</a></li>
          <li><a href="{{ url_for('tournament') }}">Tìm giải đấu</a></li>
          <li><a href="{{ url_for('team') }}">Tìm đội bóng</a></li>
          <li><a href="{{ url_for('player') }}">Tìm cầu thủ</a></li>
          <li class="drop-down"><a href="">Tạo</a>
            <ul>
              <li><a href="{{ url_for('create_tournament') }}">Tạo giải đấu</a></li>
              <li><a href="{{ url_for('create_round') }}">Tạo vòng đấu</a></li>
              <li><a href="{{ url_for('create_team') }}">Tạo đội bóng</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Hướng dẫn</a>
            <ul>
              <li><a href="#">Đăng ký đội bóng</a></li>
              <li><a href="#">Tạo giải đấu</a></li>
              <li><a href="#">Tra cứu giải đấu</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('contact') }}">Liên hệ</a></li>
          {% if not current_user.is_authenticated %}
          <li><a href="{{ url_for('login_users') }}">Đăng nhập</a></li>
          {% else %}
          <li class="drop-down"><a href="">Chào {{ current_user.name }}</a>
            <ul>
              <li><a href="{{ url_for('logout_users') }}">Đăng xuất</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>