{% extends 'base/master.html' %}

{% block title %}Cầu thủ{% endblock %}

{% block body %}
<main id="main">
    <section id="team" class="team">
      <div class="container">
  
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Cầu thủ</h2>
        </div>
  
        <div class="row">
          {% if players %}
          {% for player in players %}
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="{{ player.avatar }}" class="img-fluid" alt="{{ player.tenCT }}"></div>
              <div class="member-info">
                <h4>{{ player.tenCT }}</h4>
                <span>Ngày sinh: {{ player.ngaySinh }}</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
  
          <!-- <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="{{ url_for('static', filename='img/team/team-2.jpg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="{{ url_for('static', filename='img/team/team-3.jpg') }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->
  
        </div>
  
      </div>
    </section>
  
  </main><!-- End #main -->
  
{% endblock %}
