{% extends 'base/master.html' %}

{% block title %}Giải đấu{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/searchbar.css') }}"/>
{% endblock %}

{% block body %}

<main id="main">
    <section id="portfolio" class="portfolio">
        <div class="container">
    
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>Giải đấu</h2>
            <form action="" method="GET">
                <div class="container h-100">
                    <div class="d-flex justify-content-center h-100">
                      <div class="searchbar">
                        <input class="search_input" type="text" name="kw" placeholder="Search...">
                        <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                </div>
            </form>
            
            </div>
          </div>


          <div class="row portfolio-container" data-aos="fade-up">
            {% if tournaments %}
            {% for tournament in tournaments %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="{{ tournament.avatar }}" class="img-fluid" alt="tournament.tenGD">
                  <h4 class="text-center">{{ tournament.tenGD }}</h4>
                  <div class="portfolio-links">
                    <a href="{{ tournament.avatar }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="{{ url_for('portfolio_details') }}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
    
        </div>
      </section>
</main><!-- End #main -->

{% endblock %}

